.header {
  background: #1eb7ee;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.75);

  &__container {
    color: #fff;
    @include for-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__logo {
    margin-right: 15px;
  }

  &__logo-img {
    width: 180px;
  }

  &__navigation {
    display: none;
    @include for-mobile {
      display: block;
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    @include for-tablet {
      gap: 30px;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 700;
    @include for-tablet {
      font-size: 21px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
