@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  background: #1eb7ee;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.75);
}
.header__container {
  color: #fff;
}
@media (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__logo {
  margin-right: 15px;
}
.header__logo-img {
  width: 180px;
}
.header__navigation {
  display: none;
}
@media (min-width: 768px) {
  .header__navigation {
    display: block;
  }
}
.header__list {
  display: flex;
  gap: 20px;
}
@media (min-width: 990px) {
  .header__list {
    gap: 30px;
  }
}
.header__link {
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 990px) {
  .header__link {
    font-size: 21px;
  }
}
.header__link:hover {
  text-decoration: underline;
}

.main {
  flex: 1 1 auto;
}

.search-reise {
  display: flex;
  margin: 20px 0px;
}
.search-reise__block {
  width: 100%;
}
@media (min-width: 990px) {
  .search-reise__block {
    width: auto;
    margin: 0 auto;
  }
}
.search-reise__title {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .search-reise__title {
    font-size: 50px;
  }
}
@media (min-width: 990px) {
  .search-reise__title {
    font-size: 70px;
  }
}
.search-reise__form {
  display: flex;
  height: 80px;
  width: 100%;
}
@media (min-width: 990px) {
  .search-reise__form {
    width: 780px;
  }
}
.search-reise__input {
  display: block;
  width: 100%;
  padding: 5px 5px 5px 90px;
  font-size: 21px;
  background: url("https://www.cliparts101.com/files/400/B42B29F598C76965F60D1020F63CF989/search_Icon_Light_Grey.png") no-repeat 3px 1px;
  background-color: #fff;
  background-size: auto 100%;
}
@media (min-width: 990px) {
  .search-reise__input {
    width: 70%;
  }
}
.search-reise__submit {
  display: none;
  width: 30%;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  background: #1eb7ee;
  border-radius: 0 80px 0 0;
  transition: all 0.3s ease 0s;
}
@media (min-width: 990px) {
  .search-reise__submit {
    display: block;
  }
}
.search-reise__submit:hover {
  border-radius: 0 45px 0 0;
}

.fly-table {
  margin-bottom: 20px;
}
.fly-table__navigation {
  display: flex;
}
.fly-table__link {
  display: inline-flex;
  align-items: center;
  flex: 1 1 50%;
  height: 50px;
  background: #1eb7ee;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 30px 30px 0 0;
}
.fly-table__link_departures {
  justify-content: flex-start;
  padding-left: 25px;
  margin-right: -50px;
}
.fly-table__link_arrivals {
  justify-content: flex-end;
  padding-right: 25px;
  margin-left: -50px;
}
@media (min-width: 768px) {
  .fly-table__link {
    font-size: 21px;
    border-radius: 60px 60px 0 0;
  }
  .fly-table__link_departures {
    justify-content: flex-end;
    padding-right: 120px;
    margin-right: -50px;
  }
  .fly-table__link_arrivals {
    justify-content: flex-start;
    padding-left: 120px;
    margin-left: -50px;
  }
}
.active {
  background-color: #fff;
  color: #1eb7ee;
  z-index: 1;
}

.calendar-fly {
  display: flex;
  height: 110px;
  padding: 20px 20px;
  background-color: #fff;
}
.calendar-fly__current-date {
  padding: 0px 2px;
  font-size: 14px;
  font-weight: 600;
  color: #1eb7ee;
}
.calendar-fly__wrapper {
  display: flex;
  margin-left: 10px;
  height: 75%;
}
.calendar-fly__toggle-date {
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #b1b6bf;
  text-transform: uppercase;
  border-bottom: 3px solid #b1b6bf;
}
.calendar-fly__toggle-name {
  font-weight: 700;
  margin-top: 5px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  font-size: 30px;
  filter: invert(100%);
}

input[type=date] {
  display: flex;
  flex-direction: column;
  background: #1eb7ee;
  font-family: "Open Sans";
  color: #fff;
  width: 40px;
  height: 38px;
}

::-webkit-datetime-edit {
  display: none;
}

.board-table {
  width: 100%;
  border-spacing: 0;
  background: #fff;
}
.board-table__header {
  line-height: 60px;
  color: #b1b6bf;
  text-align: left;
}
.board-table__header tr {
  display: none;
}
@media (min-width: 768px) {
  .board-table__header tr {
    display: table-row;
  }
}
.board-table__header tr th:first-child {
  margin-left: 20px;
}
.table-body {
  font-size: 18px;
}
.table-body__terminal {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 22px;
  text-transform: uppercase;
  color: #63c745;
  border: 1px solid #63c745;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .table-body__terminal {
    margin-left: 20px;
  }
}
.table-body__img-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding-left: 5px;
}
@media (min-width: 768px) {
  .table-body__img-wrapper {
    flex-direction: row;
  }
}
.table-body__img {
  width: 37px;
}
@media (min-width: 768px) {
  .table-body__img {
    width: 67px;
  }
}
.table-body__link {
  display: none;
  color: #1eb7ee;
  font-size: 16px;
  text-decoration: underline;
  visibility: hidden;
}
@media (min-width: 768px) {
  .table-body__link {
    display: block;
  }
}
.table-body td {
  max-width: 100px;
}
.table-body th,
.table-body tr {
  position: relative;
  width: auto;
  height: 73px;
  text-align: left;
  z-index: 1;
}
.table-body th:hover,
.table-body tr:hover {
  box-shadow: 0px 14px 19px -8px rgba(0, 0, 0, 0.75);
}
.table-body th:hover .table-body__link,
.table-body tr:hover .table-body__link {
  visibility: visible;
}
.table-body th:nth-child(even),
.table-body tr:nth-child(even) {
  background: rgba(229, 239, 243, 0.781);
}

.footer {
  flex: 0 1 100%;
  background: #595959;
  color: #fff;
  padding: 0px 15px;
}
@media (min-width: 768px) {
  .footer {
    padding: 0px 0px;
  }
}

@media (min-width: 768px) {
  .footer-top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #b6c0be;
  }
}
.footer-top__item {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #b6c0be;
}
@media (min-width: 768px) {
  .footer-top__item {
    border-bottom: none;
  }
}
.footer-top__title {
  padding-bottom: 20px;
  font-weight: 700;
}
.footer-top__list {
  display: none;
}
@media (min-width: 768px) {
  .footer-top__list {
    display: block;
  }
}
.footer-top__link {
  display: block;
  line-height: 120%;
  padding-bottom: 20px;
}
.footer-top__link:hover {
  text-decoration: underline;
}
.footer-top__telephone {
  font-weight: 600;
  font-size: 21px;
  line-height: 160%;
  transition: color 0.3s ease 0s;
}
.footer-top__telephone:hover {
  color: #b6c0be;
}
.footer-top__socials {
  font-size: 32px;
  padding: 10px 0px;
}
.footer-top__social {
  margin-right: 20px;
  transition: color 0.3s ease 0s;
}
.footer-top__social:hover {
  color: #b6c0be;
}

.footer-bottom {
  padding-bottom: 16px;
  padding-top: 16px;
  color: #b6c0be;
}
@media (min-width: 768px) {
  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .footer-bottom__info {
    display: flex;
    gap: 50px;
  }
}
.footer-bottom__column {
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer-bottom__text:hover {
  text-decoration: underline;
}
.footer-bottom__img {
  position: absolute;
  width: 34px;
  left: 150px;
  top: 15px;
}
@media (min-width: 768px) {
  .footer-bottom__img {
    right: -45px;
    top: 12px;
  }
}
.footer-bottom__signature {
  color: #fff;
}
.footer-bottom__text_color {
  color: #b6c0be;
}

html,
body {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: #e7efec;
}

[class*=__container] {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  [class*=__container] {
    padding: 0px 15px;
  }
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 0 1 auto;
}

/*# sourceMappingURL=index.css.map */
